.stickman{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    img{
        width: 10%;
        height: auto;
    }

    #player{
        position: absolute;
    }

    #npc{
        margin-left: 50rem;
        position: relative;
    }
}

.control{
    position: absolute;
    bottom: 0;

    .ctrl-top{
        margin-left: 5rem;
    }
}