header {
    margin-bottom: 1rem;
    background-color: #242b58;

    .nav-bar-top {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;

        .nav-bar-top-left {
            display: flex;

            p {
                font-size: smaller;
                color: #fff;
                margin: 7px;
            }

            a {
                text-decoration: none;
                font-size: smaller;
                color: #fff;
                margin: 7px;
            }

            i {
                font-size: xx-small;
                color: #fff;
                margin-top: 0.7rem;
            }
        }

        .nav-bar-top-right {
            display: flex;

            .fas {
                font-size: xx-small;
                margin: 0.75rem 5px 5px 5px;
            }

            img {
                width: auto;
                height: 12px;
                margin: 0.7rem 0 0 0.7rem;
            }

            i {
                font-size: smaller;
                color: #fff;
                margin: 0.7rem 5px 5px 5px;
            }

            a {
                color: #fff;
                text-decoration: none;
                font-size: smaller;
                margin: 5px;
            }

            p {
                color: #fff;
                font-size: smaller;
                margin: 5px;
            }
        }
    }

    .nav-bar-bottom {

        display: flex;
        justify-content: space-between;
        padding: 0.5rem;

        .btn1 {
            background-color: #7c62e3;
            border: 1px solid #7c62e3;
        }


        .nav-bar-bottom-right {
            display: flex;
            padding: 0.5rem;
            position: relative;

            p {
                color: #fff;
            }

            i {
                color: #fff;
                margin: 5px 5px 0 1rem;
            }
        }

        .circle {
            position: absolute;
            right: 175px;
            p {
                border: 1px solid #7c62e3;
                background-color: #7c62e3;
                color: #fff;
                border-radius: 100%;
                padding: 0.1px 5px;
                font-size: 10px;

            }
        }
    }
}

.card img {
    height: 160px;
    width: 65%;

}

.alertbox{
    background-color: #7c62e3;
    text-align: center;
    color: #fff;
    width: 15%;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    display: none;
}
  