.image{
    text-align: center;

    img{
        text-align: center;
        width: calc(100% / 2);
        height: auto;
        margin: 5px;
        transition: 0.4s;

        &:nth-child(2){
            text-align: center;
            display: none;
        }

        &:nth-child(3){
            text-align: center;
            display: none;
        }
    }

    


}
.radio{
    text-align: center;
}